*,
::after,
::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(42, 16, 63);
    font-family: 'Montserrat', sans-serif;
}

li {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}

h1,
h2,
p {
    margin: 0
}

a {
    text-decoration: none;
}

