*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #2a103f;
  font-family: 'Montserrat', sans-serif;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

.green {
  background-color: rgba(132, 247, 121, 0.9);
}

.orange {
  background-color: rgba(250, 161, 77, 0.9);
}

.lightblue {
  background-color: rgba(72, 212, 205, 0.9);
}

.yellow {
  background-color: rgba(236, 198, 31, 0.9);
}

.violet {
  background-color: rgba(238, 130, 238, 0.9);
}

.red {
  background-color: rgba(255, 99, 71, 0.9);
}

.card {
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}

.cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 250px 250px 250px;
      grid-template-columns: 250px 250px 250px;
  -ms-grid-rows: 240px 240px 240px;
      grid-template-rows: 240px 240px 240px;
  grid-gap: 30px;
}

.card-option {
  position: absolute;
  /* transform: translateY(100%);
    transition: transform 1000ms cubic-bezier(0.19, 1, 0.22, 1); */
  display: block;
  width: 100%;
  height: 81.3%;
  top: 19%;
  left: 0;
  padding: 23px;
  border-radius: 10px;
  background-color: #632b91;
}

/* .time-card:hover .card-option {
    transform: translateY(0);
} */
.card-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-text {
  color: white;
  font-size: 18px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}

.icon-svg {
  display: block;
  margin-left: auto;
  margin-right: 10px;
  width: 60px;
  height: 60px;
  fill: rgba(255, 255, 255, 0.65);
}

.svg-menu {
  fill: white;
  width: 20px;
  height: 7px;
}

.heading-hours {
  margin-top: 25px;
  font-size: 46px;
  font-weight: 300;
  color: white;
}

.paragraph-duration {
  margin-top: 10px;
  font-size: 13px;
  color: #b9b6b6;
}

.heading-occupation {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 39px;
  color: rgba(255, 255, 255, 0.8);
}

.grid {
  display: -ms-grid;
  display: grid;
  padding-top: 100px;
  grid-gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 250px 250px 250px 250px;
      grid-template-columns: 250px 250px 250px 250px;
  -ms-grid-rows: 240px 240px 240px 240px;
      grid-template-rows: 240px 240px 240px 240px;
      grid-template-areas: "form card card card" "form card card card";
}

.form {
  border-radius: 10px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: form;
  background-color: #471d69;
}

.form_person {
  border-radius: 10px;
  background-color: #9c49e9;
  padding: 25px 0 25px 25px;
}

.paragraph {
  margin-top: 30px;
  font-weight: 400;
  font-size: 13px;
  color: #b9b6b6;
}

.heading_name {
  margin-top: 15px;
  margin-bottom: 50px;
  font-size: 34px;
  color: white;
  font-weight: 300;
}

.form_img {
  border-radius: 50%;
  outline: 1px solid seashell;
}

.form-period {
  margin-top: -15px;
  padding: 30px 0 30px 25px;
}

.form-period_style {
  margin-top: 15px;
}

.form-period_link {
  font-weight: 400;
  color: #b9b6b6;
  -webkit-transition: color 350ms;
  transition: color 350ms;
}

.is-current {
  color: white;
}

.form-period_link:hover {
  color: white;
}
/*# sourceMappingURL=stylee.css.map */