
.green {
    background-color: rgba(132, 247, 121, 0.9)
}

.orange {
    background-color: rgba(250, 161, 77, 0.9)
}

.lightblue {
    background-color: rgba(72, 212, 205, 0.9)
}

.yellow {
    background-color: rgba(236, 198, 31, 0.9);
}

.violet {
    background-color: rgba(238, 130, 238, 0.9);
}

.red {
    background-color: rgba(255, 99, 71, 0.9);
}