.grid {
    display: grid;
    padding-top: 100px;
    grid-gap: 30px;
    justify-content: center;
    grid-template-columns: 250px 250px 250px 250px;
    grid-template-rows: 240px 240px 240px 240px;
    grid-template-areas: 
    "form card card card"
    "form card card card";
}

